@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.splash {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.splash-message {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
    margin-top: 2px;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.joke-buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
    margin-top: 2px;
}